@page "/"
@using ModelContextProtocol.Client
@inject McpClient mcpClient

<PageTitle>Home</PageTitle>

@if (tools?.Count > 0)
{
    <div>
        <h3>Available Tools</h3>
        <ul>
            @foreach (var tool in tools)
            {
                <li>
                    <strong>Name: </strong> @tool.Name
                    <strong>Description: </strong> @tool.Description
                </li>
            }
        </ul>
    </div>
}

@code {
    private IList<McpClientTool> tools = null!;

    protected override async Task OnInitializedAsync()
    {
        tools = await mcpClient.ListToolsAsync();
    }
}